<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Form</title>
  </head>
  <body>
      <form>
         <fieldset>
            <label for="fname">Имя</label>
            <input type="text" name="fname" id="fname" placeholder="Имя" pattern="^[а-яА-Яa-zA-Z]+$" required ><span></span><br>
            <label for="lname">Фамилия</label>
            <input type="text" name="lname" id="lname" placeholder="Фамилия" pattern="^[а-яА-Яa-zA-Z]+$" required><span></span><br>
            <label for="city">Город</label>
            <input type="text" name="city" id="city" placeholder="Город" required><span></span><br>
         </fieldset>
         <fieldset>
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" placeholder="E-mail" required><span></span><br>
            <label for="password"> Пароль</label>
            <input type="password" name="password" id="password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" placeholder="Пароль" required><span></span><br>
            <label for="password"> Повторить пароль</label>
            <input type="password" name="password" id="confirm_password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required><span></span>
         </fieldset>
            <p>Первые 3 цифры с картинки без запятых и точек</p>
            <label class="form" for="img"><img src="http://evmhistory.ru/images/tutorial/e_1.jpg" width="55px"></label>
            <input type="text" name="number" id="number" required pattern="314"><span></span>
      </form>
      <div class="buttons">
         <button value="101" type="button" class="button" name="button">Зарегистрироваться</button>
      </div>
  </body>
</html>
